<!DOCTYPE html>
<html>
	<head>
		<title>CAMPER JUNCTION</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Yelp 					Camp</a>
			</div>
			<div class="collapse-navbar-collapse">
				<ul class=" nav navbar-nav navbar-right">
				<%	if(!currentUser){ %>
					<li><a href="/login">LogIn</a></li>
					<li><a href="/register">SignUp</a></li>
				<%	}else{ %>
					<li><a href="#">Signed In as <%= currentUser.username %></a></li>
					<li><a href="/logout">LogOut</a></li>
				<%	} %>
				</ul>
			</div>
		</div>

	</nav>
